*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
If filter=lfs diff=lfs merge=lfs -text
using filter=lfs diff=lfs merge=lfs -text
2D filter=lfs diff=lfs merge=lfs -text
bones/sprites filter=lfs diff=lfs merge=lfs -text
imported filter=lfs diff=lfs merge=lfs -text
with filter=lfs diff=lfs merge=lfs -text
3D filter=lfs diff=lfs merge=lfs -text
rigging filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
for filter=lfs diff=lfs merge=lfs -text
animations filter=lfs diff=lfs merge=lfs -text
or filter=lfs diff=lfs merge=lfs -text
external filter=lfs diff=lfs merge=lfs -text
level filter=lfs diff=lfs merge=lfs -text
used filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
custom filter=lfs diff=lfs merge=lfs -text
Unity filter=lfs diff=lfs merge=lfs -text
plugins filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.overrideController filter=lfs diff=lfs merge=lfs -text
*.physicMaterial filter=lfs diff=lfs merge=lfs -text
*.renderTexture filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.fon filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
AssetBundles filter=lfs diff=lfs merge=lfs -text
*.split0 filter=lfs diff=lfs merge=lfs -text
Used filter=lfs diff=lfs merge=lfs -text
in filter=lfs diff=lfs merge=lfs -text
large filter=lfs diff=lfs merge=lfs -text
*.split1 filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
Android filter=lfs diff=lfs merge=lfs -text
builds filter=lfs diff=lfs merge=lfs -text
(if filter=lfs diff=lfs merge=lfs -text
stored) filter=lfs diff=lfs merge=lfs -text
*.ipa filter=lfs diff=lfs merge=lfs -text
iOS filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.bytes filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
but filter=lfs diff=lfs merge=lfs -text
some filter=lfs diff=lfs merge=lfs -text
are filter=lfs diff=lfs merge=lfs -text
by filter=lfs diff=lfs merge=lfs -text
visual filter=lfs diff=lfs merge=lfs -text
graphs) filter=lfs diff=lfs merge=lfs -text
(again, filter=lfs diff=lfs merge=lfs -text
*.dwlt filter=lfs diff=lfs merge=lfs -text
Bolt/Visual filter=lfs diff=lfs merge=lfs -text
Scripting filter=lfs diff=lfs merge=lfs -text
*.ugraph filter=lfs diff=lfs merge=lfs -text
Graph filter=lfs diff=lfs merge=lfs -text
Tool filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
Generic filter=lfs diff=lfs merge=lfs -text
graphs filter=lfs diff=lfs merge=lfs -text
*.shadergraph filter=lfs diff=lfs merge=lfs -text
*.shadervariants filter=lfs diff=lfs merge=lfs -text
*.compute filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
